head {
    display: none;
}
body {
    background: #EBEBEB;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #7d7d7d;
    font-size: 15px;
    line-height: 1.6em;
}
h1 {
    color: #DD5555;
    font-size: 22px;
}
h2 {
    font-size: 18px;
    font-weight: 300;
}
a {
    color: #ccc;
    text-decoration: none;
}
h3 {
    font-size: 16px;
    font-weight: 300;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#img-profile {
    width: 100px;
    height: 100px;
    border: 3px solid #cccccc;
}
.img-circle {
    border-radius: 50%;
}
.text-center {
    text-align: center;
}
#movies img {
    width: 80px;
}
#movies {
    font-weight: 300;
    font-size: 15px;
    line-height: 1.6em;
}
.container {
    width: 500px;
    margin: 30px auto;
}
.card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}
.img-circle {
  border-radius: 50%;
}
.text-center {
  text-align: center;
}
.card-white {
  background: white;
  padding: 30px;
  border: 1px solid lightgrey;
}
.fa-star:before {
    content: "\f005";
}
.fa-mail-forward:before, .fa-share:before {
    content: "\f064";
}
.list-inline {
  padding:0;
  display: flex;
  justify-content: center;
  list-style: none;
}
.list-inline li {
  margin: 0.5em;
}
.list-inline i {
  font-size: 2em;
}
.list-inline li {
  display: inline-grid;
}
.list-inline > li > a > p {
  margin-bottom: 0;
}


